body {
  user-select: none;
  padding: 0;
  margin: 0;
  background: #2a7b9b;
  background: linear-gradient(
    0deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 186, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  background-attachment: fixed;
}

img {
  z-index: 2;
}

main {
  width: 100%;
  height: calc(100vh - 140px);
  z-index: 1;
}

.star {
  position: absolute;
  animation-name: falling;
  animation-iteration-count: infinite;
  z-index: 100;
}

@keyframes falling {
  0% {
    opacity: 0%;
  }
  100% {
    transform: translateY(100vh);
    opacity: 100%;
  }
}
